html, body {
    margin: 0; 
    padding: 0;
    background-color: #000;
}
.navbar {
    display: flex;
    width: 100%;
    height: 150px;
    margin: 0px auto;
    background: linear-gradient(rgba(19, 32, 46, 1), rgba(63, 87, 117, 1));
    justify-content: space-between;
}
.navbar a {
    height: 100px;
}
.nav-logo {
    display: flex;
    flex-direction: row;
}
.nav-links {
    list-style: none;
}
.nav-item a {
    display: inline-block;
    text-decoration: none;
}
.navbar a {
    text-decoration: none;
}
.nav-logo h1 {
    font-family: 'Koulen';
    font-size: 48px;
    margin: 20px 0;
    color: rgb(24, 188, 206);
}
.nav-logo:hover {
    transition: all 200ms;
    cursor: pointer;
    transform: scale(.9);
}
.nav-logo img {
    margin: 24px;
    width: 75px;
    height: 75px;
    cursor: pointer;
}
.footer-container {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgb(61, 88, 120), rgba(45, 65, 87, 1));
    height: auto;
    width: 100vw;
    padding-top: 20px;
    color: #fff;
}
.footer-content p {
    margin: 0;
    color: rgb(24, 188, 206);
    margin-top: -14px;
    padding: 30px;
    display: inline-block;
}
.footer-links {
    float: right;
}

.footer-links ul {
    display: flex;
}

.footer-links ul li {
    padding-right: 10px;
    display: block;
}

.footer-links ul li a {
    color: rgb(24, 188, 206);
    text-decoration: none;
    padding: 0 10px;
}

.footer-links ul li a:hover {
    color: #cfd2d6;
}
@media screen and (max-width: 768px) {
    .navbar {
        margin-bottom: -120px;
    }
    .nav-logo h1 {
        font-size: 28px;
        margin: 40px 0;
    }
    .nav-logo img {
        margin: 40px 4px;
        height: 50px;
        width: 50px;
    }
}
@media screen and (max-width: 580px) {
    .nav-logo h1 {
        font-size: 14px;
        margin: 52px 0;
    }
    .nav-logo img {
        margin: 40px 4px;
        height: 50px;
        width: 50px;
    }
}
@media screen and (max-width: 400px) {
    .navbar {
        margin-top: -30px;
        margin-bottom: -140px;
    }
    .nav-logo h1 {
        font-size: 10px;
        margin: 46px 0;
    }
    .nav-logo img {
        height: 30px;
        width: 30px;
    }
}